@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: oklch(26.8% 0.007 34.298);
  --background: oklch(97% 0.001 106.424);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(26.8% 0.007 34.298);
    --foreground: oklch(97% 0.001 106.424);
  }
}

html, body {
  height: 100vh;
  width: 100vw;
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.debug {
  @apply border border-red-500;
}

a {
  @apply text-amber-500 hover:text-amber-600;
}
